<!DOCTYPE html>
<html>
    <head>
        <title>Vault</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <link rel="stylesheet" href="main.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap" rel="stylesheet">
    </head>
    <body>
        <header>
            <button class="close-frame" onclick="closevaultframe()">X</button>
        </header>
        <h1 class="vault-heading">VAULT</h1>
        <section class="credentials">
            <div class="divcred">
                
                <% results.forEach(data => { %>
                <h2>URL: </h2><p><%= data.url %></p>
                <h2>Username: </h2><p><%= data.username %></p>
                 <h2>Email: </h2><p><%= data.email %></p>
                <h2>Password: </h2><p><%= data.password %></p>
                 <hr>
                 <% }); %>
                 
            </div>
        </section>
        <script src="main.js"></script> 
        <script src="server.js"></script>         
    </body>
</html>